.global-box{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-image: url('../image/flow.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40rem;
    align-items: center;
    display: flex;
}
.card-box{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    height: 40rem;
    align-items: center;
    display: flex;
}
.logreg-box{
    background-color: black;
    padding-bottom: 1rem;
}
.logreg-tab{
    height: 3em;
    align-items: center;
}
.logreg-tab ul{
    height: 100%;
}
.logreg-tab li{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #18BDF9;
}
.active{
    background-color: #18BDF9;
    color: white!important;
}
.logreg-tab li:hover{
    background-color: #18BDF9;
    color: white!important;
    cursor: pointer;
}
.login-btn{
    color: #18BDF9;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,.15)!important;
}
.login-btn:hover{
    background-color: #18BDF9;
    color: white!important;
}
.box-user{
    display: block;
}
.my-btn{
    border-radius: unset;
    background-color: white;
    width: 7em;
}
li{
    list-style: none;
}
h1{
    text-transform: uppercase;
    font-size: 3.5em;
    font-family: 'Anton', sans-serif;
    
}
@media(max-width:600px){
    h1{
        font-size: 1.75em;
    }
    .global-box{
        height: 30em;
    }
    ul{
        padding-inline-start: unset!important;
    }
}